[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple"
# url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]
# jupyter = "*"
ipykernel = "*"

[packages]
matplotlib = "*"
grpcio = "*"
grpcio-tools = "*"
sklearn = "*"
pandas = "*"
keras = "*"
flask = "*"
tensorflow = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
